<h1>eva·bot</h1>

<%= form_tag checks_index_path, method: :get do =%>
  <%= text_field_tag 'query', @query =%>
  <%= check_box_tag 'hide_passed', true, @hide_passed %>
  <span>Don't show repos that pass all checks</span>
<% end %>
<p>Filter using SQL-like wildcards, e.g. "%-week-1"</p>

<main>
  <% if @repos.present? %>
    <p><%= @repos.count %> matches found.</p>
    <input type="submit" id="check-button" value="Run checks">

    <table class="repos">
      <tr>
        <th>Repo</th>
        <th>IsValidJava</th>
      </tr>
      <% @repos.each do |repo| %>
        <tr class="<%= repo.name %>">
          <td class="name" data-repo="<%= repo.name %>">
            <a href="<%= "https://gits-15.sys.kth.se/#{@org}/#{repo.name}" %>">
              <%= repo.name %>
            </a>
          </td>
          <td class="isValidJava">
            <% if repo.checks.exists?(name: :isValidJava) %>
              <%= repo.checks.find_by(name: :isValidJava).status.capitalize =%>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>No matches found</p>
  <% end %>
</main>
